/** -------------------------------
 * Roboto Condensed Font
 * (https://fonts.google.com/specimen/Roboto+Condensed)
 */
@font-face {
    font-family: "Roboto Condensed";
    src: url('fonts/RobotoCondensed-Regular.ttf');
}

@font-face {
    font-family: "Roboto Condensed";
    src: url('fonts/RobotoCondensed-Italic.ttf');
}

@font-face {
    font-family: "Roboto Condensed";
    src: url('fonts/RobotoCondensed-Bold.ttf');
}

@font-face {
    font-family: "Roboto Condensed";
    src: url('fonts/RobotoCondensed-BoldItalic.ttf');
}

@font-face {
    font-family: "Roboto Condensed Light";
    src: url('fonts/RobotoCondensed-Light.ttf');
}

@font-face {
    font-family: "Roboto Condensed Light";
    src: url('fonts/RobotoCondensed-LightItalic.ttf');
}

/** -------------------------------
 * Spline Sans Font
 * (https://fonts.google.com/specimen/Spline+Sans)
 */
@font-face {
    font-family: "Spline Sans";
    src: url('fonts/SplineSans-Regular.ttf');
}

@font-face {
    font-family: "Spline Sans";
    src: url('fonts/SplineSans-Bold.ttf');
}

@font-face {
    font-family: "Spline Sans Light";
    src: url('fonts/SplineSans-Light.ttf');
}

@font-face {
    font-family: "Spline Sans SemiBold";
    src: url('fonts/SplineSans-SemiBold.ttf');
}

* {
    -grey-10: #e2e2e2;
    -grey-20: #cbcbcb;
    -grey-30: #b2b2b2;
    -grey-40: #a3a3a3;
    -grey-50: #8f8f8f;
    -grey-60: #757676;
    -grey-100: #232323;

    -red: #ff7b72;
    -blue: #58a6ff;
    -green: #08e093;
    -purple: #d2a8ff;
    -orange: #f9990f;
    -white: #ffffff;
    -white-a20: #ffffff33; /* 20% alpha */
    -bright-blue: #0e4ae4;
    -light-blue: #cfdbfa;
}

.root {
    -fx-font-family: "Spline Sans";
    -fx-font-size: 16px;
}

/** -------------------------------
 * Button
 */
.button,
.menu-button {
    -fx-cursor: hand;
}

.curly-braces {
    -fx-shape: "M4.09617 14.208C3.37083 14.208 2.84283 14.0293 2.51217 13.672C2.18683 13.32 2.02417 12.7467 2.02417 11.952V9.064C2.02417 8.65333 1.91483 8.368 1.69617 8.208C1.48283 8.04267 1.07483 7.94133 0.472168 7.904V6.304C1.07483 6.26133 1.48283 6.16 1.69617 6C1.91483 5.83467 2.02417 5.54933 2.02417 5.144V2.256C2.02417 1.46133 2.18683 0.888 2.51217 0.536C2.84283 0.178667 3.37083 0 4.09617 0H6.00017V1.712H4.67217C4.4055 1.712 4.21617 1.784 4.10417 1.928C3.99217 2.072 3.93617 2.32 3.93617 2.672V5.776C3.93617 6.112 3.86683 6.37067 3.72817 6.552C3.59483 6.73333 3.3735 6.856 3.06417 6.92L2.17617 7.104L3.06417 7.288C3.3735 7.352 3.59483 7.47467 3.72817 7.656C3.86683 7.832 3.93617 8.09067 3.93617 8.432V11.536C3.93617 11.888 3.99217 12.136 4.10417 12.28C4.21617 12.424 4.4055 12.496 4.67217 12.496H6.00017V14.208H4.09617Z";
}

.curly-braces.right {
    -fx-rotate: 180;
}

/** -------------------------------
 * JFXCentral Logo Shape
 */
.jfxcentral-region {
    -fx-shape: "M15.3574 1.76437V19.7001C15.3574 20.7829 15.1809 21.7597 14.8278 22.6306C14.4747 23.5015 13.9687 24.2547 13.3096 24.8902C12.6741 25.5022 11.8856 25.9847 10.9441 26.3378C10.0261 26.6673 9.00221 26.8321 7.8724 26.8321C5.73046 26.8321 4.03574 26.2672 2.78824 25.1374C1.56428 23.984 0.787536 22.4894 0.458008 20.6534L4.1299 19.8414C4.34173 20.9006 4.74188 21.7361 5.33032 22.3481C5.9423 22.9601 6.78966 23.2661 7.8724 23.2661C8.93159 23.2661 9.77895 22.9366 10.4145 22.2775C11.05 21.6185 11.3678 20.6181 11.3678 19.2765V5.08319H3.31784V1.76437H15.3574ZM21.2977 26.4084V1.76437H36.6914V5.29503H25.2874V12.1445H35.4204V15.6752H25.2874V26.4084H21.2977ZM60.2166 26.4084H55.5209L49.5541 16.5931H49.4481L43.5519 26.4084H39.1386L47.1179 13.8039L39.4211 1.76437H44.1168L49.7306 10.9441H49.8012L55.4856 1.76437H59.8989L52.1314 13.7686L60.2166 26.4084ZM81.5771 26.8321C78.3525 26.8321 75.8222 25.7493 73.9862 23.5839C72.1503 21.3948 71.2323 18.229 71.2323 14.0864C71.2323 12.0151 71.4677 10.1909 71.9384 8.61385C72.4092 7.03683 73.0918 5.70694 73.9862 4.62421C74.8807 3.54147 75.9634 2.72942 77.2344 2.18805C78.529 1.62314 79.9766 1.34069 81.5771 1.34069C83.7191 1.34069 85.5079 1.81145 86.9437 2.75296C88.4031 3.69447 89.5447 5.08319 90.3685 6.91914L87.0144 8.75508C86.5907 7.57819 85.9316 6.64845 85.0372 5.96586C84.1663 5.25973 83.0129 4.90666 81.5771 4.90666C79.6706 4.90666 78.1759 5.55395 77.0932 6.84852C76.0105 8.1431 75.4691 9.93197 75.4691 12.2151V15.9576C75.4691 18.2408 76.0105 20.0297 77.0932 21.3242C78.1759 22.6188 79.6706 23.2661 81.5771 23.2661C83.06 23.2661 84.2605 22.8895 85.1784 22.1363C86.1199 21.3595 86.8143 20.371 87.2615 19.1705L90.4744 21.1124C89.6506 22.9013 88.4972 24.3018 87.0144 25.3139C85.5315 26.326 83.7191 26.8321 81.5771 26.8321ZM101.624 26.8321C100.306 26.8321 99.1288 26.6085 98.0932 26.1612C97.0575 25.714 96.1749 25.0785 95.4452 24.2547C94.7155 23.4073 94.1506 22.3952 93.7505 21.2183C93.3739 20.0179 93.1856 18.688 93.1856 17.2287C93.1856 15.7693 93.3739 14.4512 93.7505 13.2743C94.1506 12.0739 94.7155 11.0618 95.4452 10.238C96.1749 9.3906 97.0575 8.74331 98.0932 8.29609C99.1288 7.84888 100.306 7.62527 101.624 7.62527C102.965 7.62527 104.142 7.86065 105.155 8.3314C106.19 8.80216 107.049 9.46121 107.732 10.3086C108.414 11.1324 108.921 12.0974 109.25 13.2037C109.603 14.31 109.78 15.4986 109.78 16.7697V18.2173H97.1752V18.8175C97.1752 20.2297 97.5871 21.3948 98.4109 22.3128C99.2583 23.2073 100.459 23.6545 102.012 23.6545C103.142 23.6545 104.095 23.4073 104.872 22.913C105.649 22.4187 106.308 21.7479 106.849 20.9006L109.109 23.1249C108.426 24.2547 107.438 25.1609 106.143 25.8435C104.849 26.5025 103.342 26.8321 101.624 26.8321ZM101.624 10.6263C100.965 10.6263 100.353 10.744 99.7879 10.9794C99.2465 11.2148 98.7758 11.5443 98.3756 11.968C97.999 12.3917 97.7048 12.8977 97.493 13.4862C97.2811 14.0746 97.1752 14.7219 97.1752 15.428V15.6752H105.719V15.3221C105.719 13.9098 105.355 12.78 104.625 11.9327C103.895 11.0618 102.895 10.6263 101.624 10.6263ZM114.04 26.4084V8.04895H117.888V11.0853H118.065C118.465 10.0967 119.065 9.27291 119.866 8.61385C120.689 7.9548 121.807 7.62527 123.22 7.62527C125.103 7.62527 126.562 8.24902 127.598 9.49652C128.657 10.7205 129.186 12.474 129.186 14.7572V26.4084H125.338V15.2515C125.338 12.3799 124.185 10.9441 121.878 10.9441C121.384 10.9441 120.889 11.0147 120.395 11.1559C119.924 11.2736 119.501 11.4619 119.124 11.7208C118.747 11.9798 118.441 12.3093 118.206 12.7094C117.994 13.1096 117.888 13.5803 117.888 14.1217V26.4084H114.04ZM139.605 26.4084C138.263 26.4084 137.251 26.0671 136.568 25.3845C135.886 24.6784 135.544 23.6898 135.544 22.4187V11.1912H132.685V8.04895H134.238C134.874 8.04895 135.309 7.90772 135.544 7.62527C135.803 7.34282 135.933 6.88383 135.933 6.24831V3.03541H139.393V8.04895H143.241V11.1912H139.393V23.2661H142.959V26.4084H139.605ZM147.416 26.4084V8.04895H151.264V11.5796H151.441C151.7 10.6381 152.241 9.81428 153.065 9.10815C153.889 8.40201 155.03 8.04895 156.489 8.04895H157.513V11.7561H155.995C154.465 11.7561 153.288 12.0033 152.465 12.4976C151.664 12.9919 151.264 13.7215 151.264 14.6866V26.4084H147.416ZM174.107 26.4084C173.095 26.4084 172.319 26.1259 171.777 25.561C171.236 24.9726 170.906 24.2311 170.789 23.3367H170.612C170.259 24.4901 169.612 25.361 168.67 25.9494C167.729 26.5378 166.587 26.8321 165.246 26.8321C163.339 26.8321 161.868 26.3378 160.832 25.3492C159.82 24.3606 159.314 23.0307 159.314 21.3595C159.314 19.5236 159.973 18.1466 161.291 17.2287C162.633 16.3107 164.586 15.8517 167.152 15.8517H170.471V14.2982C170.471 13.1684 170.165 12.2975 169.553 11.6855C168.941 11.0735 167.988 10.7676 166.693 10.7676C165.61 10.7676 164.728 11.0029 164.045 11.4737C163.363 11.9444 162.786 12.5447 162.315 13.2743L160.02 11.1912C160.632 10.1556 161.491 9.30822 162.598 8.64916C163.704 7.96657 165.151 7.62527 166.94 7.62527C169.318 7.62527 171.142 8.17841 172.413 9.28468C173.684 10.391 174.319 11.9798 174.319 14.0511V23.2661H176.261V26.4084H174.107ZM166.34 23.9016C167.54 23.9016 168.529 23.6427 169.306 23.1249C170.083 22.5835 170.471 21.8656 170.471 20.9712V18.3232H167.223C164.563 18.3232 163.233 19.147 163.233 20.7946V21.4302C163.233 22.254 163.504 22.8777 164.045 23.3014C164.61 23.7015 165.375 23.9016 166.34 23.9016ZM183.952 26.4084C182.634 26.4084 181.645 26.0789 180.986 25.4198C180.351 24.7372 180.033 23.7957 180.033 22.5953V0.281494H183.881V23.2661H186.423V26.4084H183.952Z";
}

.logout-region {
    -fx-shape: "M2.66667 21C2.22222 21 1.83333 20.8333 1.5 20.5C1.16667 20.1667 1 19.7778 1 19.3333V2.66667C1 2.22222 1.16667 1.83333 1.5 1.5C1.83333 1.16667 2.22222 1 2.66667 1H10.75V2.66667H2.66667V19.3333H10.75V21H2.66667ZM16.1667 15.8611L14.9722 14.6667L17.8056 11.8333H8.08333V10.1667H17.75L14.9167 7.33333L16.1111 6.13889L21 11.0278L16.1667 15.8611Z";
}

.search-region {
    -fx-shape: "M19.7778 21L12.4722 13.6944C11.9167 14.1759 11.2685 14.5509 10.5278 14.8194C9.78704 15.088 9 15.2222 8.16667 15.2222C6.16667 15.2222 4.47222 14.5278 3.08333 13.1389C1.69444 11.75 1 10.0741 1 8.11111C1 6.14815 1.69444 4.47222 3.08333 3.08333C4.47222 1.69444 6.15741 1 8.13889 1C10.1019 1 11.7731 1.69444 13.1528 3.08333C14.5324 4.47222 15.2222 6.14815 15.2222 8.11111C15.2222 8.90741 15.0926 9.67593 14.8333 10.4167C14.5741 11.1574 14.1852 11.8519 13.6667 12.5L21 19.7778L19.7778 21ZM8.13889 13.5556C9.63889 13.5556 10.9167 13.0231 11.9722 11.9583C13.0278 10.8935 13.5556 9.61111 13.5556 8.11111C13.5556 6.61111 13.0278 5.3287 11.9722 4.26389C10.9167 3.19907 9.63889 2.66667 8.13889 2.66667C6.62037 2.66667 5.3287 3.19907 4.26389 4.26389C3.19907 5.3287 2.66667 6.61111 2.66667 8.11111C2.66667 9.61111 3.19907 10.8935 4.26389 11.9583C5.3287 13.0231 6.62037 13.5556 8.13889 13.5556Z";
}

/** -------------------------------
 * Duke ImageView
 */
.duke-image {
    -fx-image: url('images/duke.png');
}

/** -------------------------------
 * Hyperlink
 */
.hyperlink,
.hyperlink:hover,
.hyperlink:visited,
.hyperlink:focused,
.hyperlink:pressed,
.hyperlink:focused:hover,
.hyperlink:visited:hover,
.hyperlink:visited:focused {
    -fx-padding: 0;
    -fx-border-color: transparent;
    -fx-underline: false;
}

.hyperlink,
.hyperlink:visited {
    -fx-text-fill: -grey-60;
}

.hyperlink:hover,
.hyperlink:focused:hover,
.hyperlink:visited:hover {
    -fx-text-fill: -grey-40;
}

.hyperlink:pressed,
.hyperlink:focused:pressed {
    -fx-text-fill: derive(-grey-60, 15%);
}

.link {
    -fx-cursor: hand;
}

.controls {
    -fx-padding: 20px;
}

.background {
    -fx-background-color: #3C3C3C;
}

.background > .ui {
    -fx-background-color: white;
}

/** -------------------------------
 * Sponsors
 */
.sponsors-view {
    -fx-background-color: -grey-10;
    -fx-logo-fit-height: 35px;
}

.sponsors-view:lg {
    -fx-padding: 35px 60px 35px 60px;
}

.sponsors-view:md {
    -fx-padding: 30px 40px 30px 40px;
}

.sponsors-view:sm {
    -fx-padding: 20px 5px 20px 5px;
}

.sponsors-view .title {
    -fx-font-family: "Roboto Condensed";
    -fx-font-weight: bold;
    -fx-fill: -grey-100;
}

.sponsors-view:lg .title {
    -fx-font-size: 16px;
}

.sponsors-view:sm-md .title {
    -fx-font-size: 20px;
}

.sponsors-view .grid-pane {
    -fx-hgap: 40px;
    -fx-vgap: 30px;
}

.sponsors-view:sm-md .grid-pane {
    -fx-hgap: 20px;
    -fx-vgap: 20px;
}

.sponsors-view .divider {
    -size: 7px;
    -fx-min-width: -size;
    -fx-min-height: -size;
    -fx-pref-width: -size;
    -fx-pref-height: -size;
    -fx-max-width: -size;
    -fx-max-height: -size;
    -fx-background-color: -grey-20;
    -fx-background-radius: 1000px;
}

.sponsors-view .logo:hover {
    -fx-cursor: hand;
}

/** -------------------------------
 * LineNumberPane
 */
.line-number-pane {
    -fx-hgap: 10px;
}

.line-number-pane .label {
    -fx-text-fill: -grey-60;
}

.line-number-pane .number-label {
    -fx-text-fill: -grey-60;
    -fx-padding: 2px 10px 2px 10px;
    -fx-border-width: 0 1px 0 0;
    -fx-border-color: -grey-60;
}

.line-number-pane .content-line-0 {
    -fx-text-fill: -red;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
}

.line-number-pane .purple-label {
    -fx-text-fill: -purple;
}

/** -------------------------------
 * Footer
 */
.footer-view {
    -fx-background-color: -grey-100;
}

.footer-view:lg .content {
    -fx-spacing: 170px;
    -fx-padding: 60px 120px 60px 123px;
}

.footer-view:md .content {
    -fx-spacing: 25px;
    -fx-padding: 40px 45px 40px 44px;
}

.footer-view:sm .content {
    -fx-spacing: 20px;
    -fx-padding: 30px 33px 30px 20px;
}

.footer-view:sm .number-pane-box {
    -fx-spacing: 40px;
}

.footer-view .links-pane .twitter-link {
    tf: -blue;
    -fx-text-fill: tf;
}

.footer-view .links-pane .linkedin-link {
    tf: -orange;
    -fx-text-fill: tf;
}

.footer-view .links-pane .github-link {
    tf: -green;
    -fx-text-fill: tf;
}

.footer-view .links-pane .youtube-link {
    tf: -purple;
    -fx-text-fill: tf;
}

.footer-view .links-pane .link {
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-cursor: hand;
}

.footer-view .links-pane .link:hover {
    -fx-text-fill: derive(tf, 15%);
}

.footer-view .links-pane .link:pressed {
    -fx-text-fill: derive(tf, -15%);
}

/** -------------------------------
 * WelcomeView
 */
.welcome-view {
    -fx-background-color: -bright-blue;
    -fx-background-image: url("images/welcome.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center;
}

.welcome-view .fx-logo {
    -fx-image: url("images/fxlogo.png");
}

.welcome-view .label-box .label {
    -fx-text-fill: -white;
}

.welcome-view .flow-pane .button {
    -fx-font-weight: bold;
}

.welcome-view .flow-pane .transparent-button .ikonli-font-icon {
    -fx-icon-size: 35px;
    -fx-icon-color: -white;
}

.welcome-view .flow-pane .fill-button {
    -fx-graphic-text-gap: 15px;
}

.welcome-view .flow-pane .download-region {
    -fx-shape: "M8.79164 25V22.2222H2.19442C1.63886 22.2222 1.15275 22.0139 0.736084 21.5972C0.319417 21.1806 0.111084 20.6944 0.111084 20.1389V2.08333C0.111084 1.52778 0.319417 1.04167 0.736084 0.625C1.15275 0.208333 1.63886 0 2.19442 0H14.6944V2.08333H2.19442V20.1389H25.8055V15.2778H27.8889V20.1389C27.8889 20.6944 27.6805 21.1806 27.2639 21.5972C26.8472 22.0139 26.3611 22.2222 25.8055 22.2222H19.2083V25H8.79164ZM20.9444 14.7917L14.4861 8.33333L15.9444 6.875L19.9027 10.8333V0H21.9861V10.8333L25.9444 6.875L27.4027 8.33333L20.9444 14.7917Z";
    -fx-pref-width: 28px;
    -fx-pref-height: 25px;
    -fx-background-color: -grey-100;
}

.welcome-view .flow-pane .openjfx-region {
    -fx-shape: "M1.76 18L0.5 16.74L15.44 1.8H6.62V0H18.5V11.88H16.7V3.06L1.76 18Z";
    -fx-pref-width: 18px;
    -fx-pref-height: 18px;
    -fx-background-color: -grey-100;
}

.welcome-view .flow-pane .transparent-button {
    -fx-border-color: -white-a20;
    -fx-border-radius: 10px;
    -fx-border-insets: 0px;
    -fx-text-fill: -white;
    -fx-content-display: top;
    -fx-background-color: transparent;
}

.welcome-view .flow-pane .fill-button {
    -fx-text-fill: -grey-100;
    -fx-border-width: 0;
    -fx-border-insets: 0;
    -fx-background-radius: 10px;
    -fx-background-insets: 0;
    -fx-content-display: right;
}

.welcome-view .flow-pane .fill-button .ikonli-font-icon {
    -fx-icon-color: -grey-100;
}

.welcome-view .flow-pane .install-button {
    -bg: -light-blue;
    -fx-background-color: -bg;
}

.welcome-view .flow-pane .openjfx-button {
    -bg: -green;
    -fx-background-color: -bg;
}

.welcome-view .flow-pane .fill-button:hover {
    -fx-background-color: derive(-bg, 15%);
}

.welcome-view .flow-pane .fill-button:pressed {
    -fx-background-color: derive(-bg, -15%);
}

.welcome-view:lg {
    -fx-pref-width: 1440px;
    -fx-pref-height: 800px;
    -fx-max-height: 800px;
    -fx-min-height: 800px;
    -fx-padding: 195px 180px 200px 180px;
}

.welcome-view:lg .content {
    -fx-spacing: 140px;
    -fx-alignment: center;
}

.welcome-view:lg .label-box {
    -fx-pref-width: 632px;
    -fx-pref-height: 300px;
    -fx-max-width: 632px;
    -fx-max-height: 300px;
    -fx-spacing: 5px;
}

.welcome-view:lg .fx-logo {
    -fx-fit-height: 58px;
    -fx-fit-width: 170px
}

.welcome-view:lg .label-box .home-label,
.welcome-view:lg .label-box .related-label {
    -fx-font-size: 54px;
}

.welcome-view:lg .label-box .related-label {
    -fx-padding: 0 0 20px 0;
}

.welcome-view:lg .label-box .description-label {
    -fx-font-size: 24px;
}

.welcome-view:lg .flow-pane {
    -fx-pref-width: 303px;
    -fx-pref-height: 225px;
    -fx-maax-width: 303px;
    -fx-max-height: 225px;
    -fx-hgap: 10px;
    -fx-vgap: 15px;
}

.welcome-view:lg .flow-pane .transparent-button {
    -fx-pref-width: 146px;
    -fx-pref-height: 75px;
    -fx-max-width: 146px;
    -fx-max-height: 75px;
}

.welcome-view .flow-pane .transparent-button:hover {
    -fx-border-color: -white;
}

.welcome-view .flow-pane .transparent-button:pressed {
    -fx-border-color: -grey-30;
}

.welcome-view:lg .flow-pane .fill-button {
    -fx-pref-width: 303px;
    -fx-pref-height: 60px;
    -fx-max-width: 303px;
    -fx-max-height: 60px;
}

.welcome-view:md {
    -fx-pref-width: 768px;
    -fx-pref-height: 1024px;
    -fx-max-height: 1024px;
}

.welcome-view:md .content {
    -fx-spacing: 80px;
    -fx-alignment: center;
    -fx-max-width: 632px;
}

.welcome-view:md .label-box {
    -fx-alignment: center;
}

.welcome-view:md .fx-logo {
    -fx-fit-height: 47px;
    -fx-fit-width: 138px
}

.welcome-view:md .home-label,
.welcome-view:md .related-label {
    -fx-font-size: 44px;
}

.welcome-view:md .related-label {
    -fx-padding: 0 0 20px 0;
}

.welcome-view:md .description-label {
    -fx-font-size: 20px;
    -fx-text-alignment: center;
}

.welcome-view:md .flow-pane {
    -fx-pref-width: 632px;
    -fx-pref-height: 300px;
    -fx-max-width: 632px;
    -fx-max-height: 300px;
    -fx-hgap: 20px;
    -fx-vgap: 15px;
    -fx-alignment: top-center;
}

.welcome-view:md .flow-pane .button {
    -fx-pref-width: 300px;
    -fx-pref-height: 50px;
    -fx-max-width: 300px;
    -fx-max-height: 50px;
}

.welcome-view:md .flow-pane .transparent-button {
    -fx-content-display: left;
}

.welcome-view:sm {
    -fx-pref-width: 375px;
    -fx-pref-height: 812px;
    -fx-max-height: 812px;
}

.welcome-view:sm .content {
    -fx-pref-width: 317px;
    -fx-max-width: 317px;
    -fx-alignment: center;
}

.welcome-view:sm .fx-logo {
    -fx-fit-height: 36px;
    -fx-fit-width: 106px
}

.welcome-view:sm .content {
    -fx-spacing: 40px;
    -fx-alignment: center;
}

.welcome-view:sm .label-box {
    -fx-alignment: center;
}

.welcome-view:sm .home-label,
.welcome-view:sm .related-label {
    -fx-font-size: 34px;
}

.welcome-view:sm .related-label {
    -fx-padding: 0 0 20px 0;
}

.welcome-view:sm .description-label {
    -fx-text-alignment: center;
    -fx-font-size: 20px;
}

.welcome-view:sm .flow-pane {
    -fx-hgap: 15px;
    -fx-vgap: 10px;
    -fx-alignment: center;
}

.welcome-view:sm .transparent-button {
    -fx-pref-width: 145px;
    -fx-pref-height: 75px;
}

.welcome-view:sm .fill-button {
    -fx-pref-width: 315px;
    -fx-pref-height: 50px;
}

/** -------------------------------
 * TopMenuBar
 */
.top-menu-bar {
    -fx-foreground-color: -white;
}

.top-menu-bar:dark {
    -fx-foreground-color: -white;
}

.top-menu-bar:light {
    -fx-foreground-color: -grey-100;
}

.top-menu-bar .separator-region {
    -fx-border-color: transparent -white-a20 transparent transparent;
    -fx-border-width: 0 1px 0 0;
    -fx-max-height: 30;
}

.top-menu-bar .content {
    -fx-alignment: center;
    -fx-spacing: 30px;
}

.top-menu-bar .text-field {
    -fx-background-radius: 26px;
    -fx-focus-color: -grey-10;
    -fx-faint-focus-color: transparent;
}

.top-menu-bar .search-field .graphic-wrapper {
    -fx-padding: 9px;
    -fx-background-color: transparent;
}

.top-menu-bar .menu-button .label,
.top-menu-bar .button {
    -fx-text-fill: -fx-foreground-color;
}

.top-menu-bar .menu-button,
.top-menu-bar .button {
    -fx-background-color: transparent;
    -fx-font-family: "Roboto Condensed";
}

.top-menu-bar .jfxcentral-region,
.top-menu-bar .menu-button .arrow {
    -fx-background-color: -fx-foreground-color;
}

.top-menu-bar .login-button .ikonli-font-icon {
    -fx-icon-color: -fx-foreground-color;
}

.top-menu-bar:lg {
    -fx-pref-width: 1440px;
    -fx-pref-height: 126px;
    -fx-max-height: 126px;
    -fx-padding: 35px 25px 35px 25px;
}

.top-menu-bar:lg .jfxcentral-region {
    -fx-pref-width: 186px;
    -fx-pref-height: 27px;
    -fx-max-width: 186px;
    -fx-max-height: 27px;
}

.top-menu-bar:lg .duke-image {
    -fx-fit-width: 55px;
    -fx-fit-height: 57px;
}

.top-menu-bar:lg .duke-image {
    -fx-fit-width: 57px;
    -fx-fit-height: 57px;
}

.top-menu-bar:lg .text-field {
    -fx-pref-width: 197px;
}

.top-menu-bar:lg .text-field:focused {
    -fx-pref-width: 280px;
}

.top-menu-bar:md-lg .logo-box {
    -fx-spacing: 15px;
    -fx-alignment: center-left;
}

.top-menu-bar:lg .menu-button,
.top-menu-bar:lg .button {
    -fx-background-color: transparent;
    -fx-font-family: "Roboto Condensed";
    -fx-font-size: 20px;
}

.top-menu-bar:lg .login-button {
    -fx-graphic-text-gap: 10px;
}

.top-menu-bar:md .jfxcentral-region {
    -fx-pref-width: 163px;
    -fx-pref-height: 23px;
    -fx-max-width: 163px;
    -fx-max-height: 23px;
}

.top-menu-bar:sm-md .duke-image {
    -fx-fit-width: 49px;
    -fx-fit-height: 50px;
}

.top-menu-bar:md {
    -fx-pref-width: 768px;
    -fx-pref-height: 99px;
    -fx-max-height: 99px;
    -fx-padding: 25px;
}

.top-menu-bar:md .content {
    -fx-spacing: 25px;
}

.top-menu-bar:md .menu-button {
    -fx-font-family: "Roboto Condensed";
}

.top-menu-bar:md .text-field {
    -fx-pref-width: 200px;
}

.top-menu-bar:sm-md .top-menu-button .arrow {
    -fx-pref-width: 18px;
    -fx-pref-height: 13px;
    -fx-shape: "M1 18.3333V16.6667H21V18.3333H1ZM1 12.5V10.8333H21V12.5H1ZM1 6.66667V5H21V6.66667H1Z";
}

.top-menu-bar:sm-md .logout-region,
.top-menu-bar:sm-md .search-region {
    -fx-pref-width: 20px;
    -fx-pref-height: 20px;
    -fx-max-width: 20px;
    -fx-max-height: 20px;
    -fx-background-color: -fx-foreground-color;
}

.top-menu-bar:sm {
    -fx-pref-width: 375px;
    -fx-pref-height: 84px;
    -fx-max-height: 84px;
    -fx-padding: 17px 10px 17px 15px;
}

.top-menu-bar:sm .content {
    -fx-spacing: 5px;
}

.top-menu-bar:sm .text-field {
    -fx-pref-width: 130px;
}
    
/** -------------------------------
 * CopyrightView
 */
.copyright-view {
    -fx-font-size: 13px;
    -fx-background-color: #2e2e2e;
}

.copyright-view .content,
.copyright-view .powered-by-box {
    -fx-alignment: center;
}

.copyright-view .powered-by-box .powered-by-label {
    -fx-padding: 0 3px 0 0;
}

.copyright-view .powered-by-box .jpro-label {
    -fx-font-weight: bold;
}

.copyright-view .label {
    -fx-text-fill: -grey-60;
}

.copyright-view .curly-braces {
    -fx-background-color: -blue;
    -fx-pref-width: 5.5px;
    -fx-pref-height: 14.2px;
    -fx-max-width: 5.5px;
    -fx-max-height: 14.2px;
}

.copyright-view:lg {
    -fx-pref-width: 1440px;
    -fx-pref-height: 42px;
    -fx-padding: 10px 68px 10px 68px;
}

.copyright-view:md {
    -fx-pref-width: 769px;
    -fx-pref-height: 42px;
    -fx-padding: 10px 30px 10px 30px;
}

.copyright-view:sm {
    -fx-pref-width: 375px;
    -fx-pref-height: 69px;
    -fx-padding: 10px 30px 10px 30px;
}

.copyright-view:sm .content {
    -fx-spacing: 10px;
}

/** -------------------------------
 * MenuView
 */
.menu-view {
    -fx-background-color: -white;
}

.menu-view .item {
    -fx-font-family: "Roboto Condensed";
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-cursor: hand;
    -fx-max-width: 1000px;
    -fx-alignment: center-left;
    -fx-text-fill: -grey-20;
}

.menu-view .item:selected {
    -fx-text-fill: -grey-100;
}

.menu-view .item:hover{
    -fx-background-color: derive(-grey-10, 50%);
}

.menu-view:vertical  {
    -fx-padding: 15px 0px 15px 0px;
}
.menu-view:vertical .content {
    -fx-spacing: 1px;
}

.menu-view:vertical .item {
    -fx-padding: 6px 75px 6px 16px;
    -fx-border-width: 0 0 0 4px;
    -fx-border-color: transparent;
}

.menu-view:vertical .item:selected {
    -fx-border-color: linear-gradient(from 100.0% 100.0% to 100.0% 0.0%, transparent 0.0%, transparent 18%, -bright-blue 18.01%, -bright-blue 82%, transparent 82.01%, transparent 100.0%);
}

.menu-view:horizontal {
    -fx-padding: 0px 20px 0px 20px;
}
.menu-view:horizontal .content {
    -fx-spacing: 15px;
}

.menu-view:horizontal .item {
    -fx-padding: 15px 10px 15px 10px;
    -fx-border-width: 0 0 4px 0;
    -fx-border-color: transparent;
}

.menu-view:horizontal .item:selected {
    -fx-border-color: linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, transparent 0.0%, transparent 10%, -bright-blue 10.01%, -bright-blue 90%, transparent 90.01%, transparent 100.0%);
}

/** -------------------------------
 * QuickLinkView
 */
.quick-link-view {
    -fx-border-color: -grey-10;
    -fx-background-color: -white;
    -fx-cursor: hand;
}

.quick-link-view:pressed {
    -fx-background-color: derive(-white, -5%);
}

.quick-link-view .title-label {
    -fx-padding: 25px 0 5px 0;
    -fx-text-fill: -grey-100;
}

.quick-link-view .description-label {
    -fx-text-fill: -grey-60;
    -fx-alignment: bottom-left;
}

.quick-link-view .icon {
    -fx-icon-size: 25px
}

.quick-link-view .link-icon {
    -fx-icon-size: 26px;
}

.quick-link-view .ikonli-font-icon {
    -fx-icon-color: -grey-100;
}

.quick-link-view .description-label {
    -fx-text-fill: -grey-60;
    -fx-alignment: bottom-left;
}

.quick-link-view:lg {
    -fx-min-width: 360px;
    -fx-min-height: 192px;
    -fx-pref-width: 360px;
    -fx-pref-height: 192px;
    -fx-max-width: 360px;
    -fx-max-height: 192px;
    -fx-padding: 30px 20px 30px 20px;
}

.quick-link-view:lg .title-label {
    -fx-font-size: 24px;
}

.quick-link-view:lg .description-label {
    -fx-font-size: 16px;
}

.quick-link-view:md {
    -fx-min-width: 236px;
    -fx-min-height: 180px;
    -fx-pref-width: 236px;
    -fx-pref-height: 180px;
    -fx-max-width: 236px;
    -fx-max-height: 180px;
    -fx-padding: 20px;
}

.quick-link-view:md .title-label {
    -fx-font-size: 20px;
}

.quick-link-view:sm {
    -fx-min-width: 159px;
    -fx-min-height: 210px;
    -fx-pref-width: 159px;
    -fx-pref-height: 210px;
    -fx-max-width: 159px;
    -fx-max-height: 210px;
    -fx-padding: 20px;
}

.quick-link-view:sm .title-label {
    -fx-font-size: 20px;
}

.quick-link-view:hover {
    -fx-effect: dropshadow(gaussian, rgba(14, 74, 228, 0.25), 30, 0.2, 0, 0);
}

.quick-link-view.image-cell {
    -fx-background-position: center;
    -fx-background-size: cover;
    -fx-cursor: default;
}
