/** -------------------------------
* Roboto Condensed Font
* (https://fonts.google.com/specimen/Roboto+Condensed)
*/
@font-face {
    font-family: "Roboto Condensed";
    src: url('fonts/RobotoCondensed-Regular.ttf');
}

@font-face {
    font-family: "Roboto Condensed";
    src: url('fonts/RobotoCondensed-Italic.ttf');
}

@font-face {
    font-family: "Roboto Condensed";
    src: url('fonts/RobotoCondensed-Bold.ttf');
}

@font-face {
    font-family: "Roboto Condensed";
    src: url('fonts/RobotoCondensed-BoldItalic.ttf');
}

@font-face {
    font-family: "Roboto Condensed Light";
    src: url('fonts/RobotoCondensed-Light.ttf');
}

@font-face {
    font-family: "Roboto Condensed Light";
    src: url('fonts/RobotoCondensed-LightItalic.ttf');
}

/** -------------------------------
* Spline Sans Font
* (https://fonts.google.com/specimen/Spline+Sans)
*/
@font-face {
    font-family: "Spline Sans";
    src: url('fonts/SplineSans-Regular.ttf');
}

@font-face {
    font-family: "Spline Sans";
    src: url('fonts/SplineSans-Bold.ttf');
}

@font-face {
    font-family: "Spline Sans Light";
    src: url('fonts/SplineSans-Light.ttf');
}

@font-face {
    font-family: "Spline Sans SemiBold";
    src: url('fonts/SplineSans-SemiBold.ttf');
}

* {
    -grey-10: #e2e2e2;
    -grey-20: #cbcbcb;
    -grey-30: #b2b2b2;
    -grey-40: #a3a3a3;
    -grey-50: #8f8f8f;
    -grey-60: #757676;
    -grey-100: #232323;

    -red: #ff7b72;
    -blue: #58a6ff;
    -green: #08e093;
    -purple: #d2a8ff;
    -orange: #f9990f;
    -white: #ffffff;
    -bright-blue: #0e4ae4;
    -light-blue: #cfdbfa;
}

.root {
    -fx-font-family: "Spline Sans";
    -fx-font-size: 16px;
}

/** -------------------------------
* Button
*/
.button {
    -fx-cursor: hand;
}

.curly-braces {
    -fx-shape: "M4.09617 14.208C3.37083 14.208 2.84283 14.0293 2.51217 13.672C2.18683 13.32 2.02417 12.7467 2.02417 11.952V9.064C2.02417 8.65333 1.91483 8.368 1.69617 8.208C1.48283 8.04267 1.07483 7.94133 0.472168 7.904V6.304C1.07483 6.26133 1.48283 6.16 1.69617 6C1.91483 5.83467 2.02417 5.54933 2.02417 5.144V2.256C2.02417 1.46133 2.18683 0.888 2.51217 0.536C2.84283 0.178667 3.37083 0 4.09617 0H6.00017V1.712H4.67217C4.4055 1.712 4.21617 1.784 4.10417 1.928C3.99217 2.072 3.93617 2.32 3.93617 2.672V5.776C3.93617 6.112 3.86683 6.37067 3.72817 6.552C3.59483 6.73333 3.3735 6.856 3.06417 6.92L2.17617 7.104L3.06417 7.288C3.3735 7.352 3.59483 7.47467 3.72817 7.656C3.86683 7.832 3.93617 8.09067 3.93617 8.432V11.536C3.93617 11.888 3.99217 12.136 4.10417 12.28C4.21617 12.424 4.4055 12.496 4.67217 12.496H6.00017V14.208H4.09617Z";
}

.curly-braces.right {
    -fx-rotate: 180;
}

/** -------------------------------
* Hyperlink
*/
.hyperlink,
.hyperlink:hover,
.hyperlink:visited,
.hyperlink:focused,
.hyperlink:pressed,
.hyperlink:focused:hover,
.hyperlink:visited:hover,
.hyperlink:visited:focused {
    -fx-padding: 0;
    -fx-border-color: transparent;
    -fx-underline: false;
}

.hyperlink,
.hyperlink:visited {
    -fx-text-fill: -grey-60;
}

.hyperlink:hover,
.hyperlink:focused:hover,
.hyperlink:visited:hover {
    -fx-text-fill: -grey-40;
}

.hyperlink:pressed,
.hyperlink:focused:pressed {
    -fx-text-fill: derive(-grey-60, 15%);
}

.link {
    -fx-cursor: hand;
}

.controls {
    -fx-padding: 20px;
}

.background {
    -fx-background-color: #3C3C3C;
}

.background > .ui {
    -fx-background-color: white;
}

/** -------------------------------
 * Sponsors
 */
.sponsors-view {
    -fx-background-color: -grey-10;
    -fx-logo-fit-height: 35px;
}

.sponsors-view:lg {
    -fx-padding: 35px 60px 35px 60px;
}

.sponsors-view:md {
    -fx-padding: 30px 40px 30px 40px;
}

.sponsors-view:sm {
    -fx-padding: 20px 5px 20px 5px;
}

.sponsors-view .title {
    -fx-font-family: "Roboto Condensed";
    -fx-font-weight: bold;
    -fx-fill: -grey-100;
}

.sponsors-view:lg .title {
    -fx-font-size: 16px;
}

.sponsors-view:sm-md .title {
    -fx-font-size: 20px;
}

.sponsors-view .grid-pane {
    -fx-hgap: 40px;
    -fx-vgap: 30px;
}

.sponsors-view:sm-md .grid-pane {
    -fx-hgap: 20px;
    -fx-vgap: 20px;
}

.sponsors-view .divider {
    -size: 7px;
    -fx-min-width: -size;
    -fx-min-height: -size;
    -fx-pref-width: -size;
    -fx-pref-height: -size;
    -fx-max-width: -size;
    -fx-max-height: -size;
    -fx-background-color: -grey-20;
    -fx-background-radius: 1000px;
}

.sponsors-view .logo:hover {
    -fx-cursor: hand;
}

/** -------------------------------
* LineNumberPane
*/
.line-number-pane {
    -fx-hgap: 10px;
}

.line-number-pane .label {
    -fx-text-fill: -grey-60;
}

.line-number-pane .number-label {
    -fx-text-fill: -grey-60;
    -fx-padding: 2px 10px 2px 10px;
    -fx-border-width: 0 1px 0 0;
    -fx-border-color: -grey-60;
}

.line-number-pane .content-line-0 {
    -fx-text-fill: -red;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
}

.line-number-pane .purple-label {
    -fx-text-fill: -purple;
}

/** -------------------------------
* Footer
*/
.footer-view {
    -fx-background-color: -grey-100;
}

.footer-view:lg .content {
    -fx-spacing: 170px;
    -fx-padding: 60px 120px 60px 123px;
}

.footer-view:md .content {
    -fx-spacing: 25px;
    -fx-padding: 40px 45px 40px 44px;
}

.footer-view:sm .content {
    -fx-spacing: 20px;
    -fx-padding: 30px 33px 30px 20px;
}

.footer-view .duke-image {
    -fx-image: url('images/duke.png');
}

.footer-view:sm .number-pane-box {
    -fx-spacing: 40px;
}

.footer-view .links-pane .twitter-link {
    tf: -blue;
    -fx-text-fill: tf;
}

.footer-view .links-pane .linkedin-link {
    tf: -orange;
    -fx-text-fill: tf;
}

.footer-view .links-pane .github-link {
    tf: -green;
    -fx-text-fill: tf;
}

.footer-view .links-pane .youtube-link {
    tf: -purple;
    -fx-text-fill: tf;
}

.footer-view .links-pane .link {
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-cursor: hand;
}

.footer-view .links-pane .link:hover {
    -fx-text-fill: derive(tf, 15%);
}

.footer-view .links-pane .link:pressed {
    -fx-text-fill: derive(tf, -15%);
}

/** -------------------------------
* WelcomeView
*/
.welcome-view {
    -fx-background-color: -bright-blue;
    -fx-background-image: url("images/welcome.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center;
}
.welcome-view .fx-logo {
    -fx-image: url("images/fxlogo.png");
}

.welcome-view .label-box .label {
    -fx-text-fill: -white;
}

.welcome-view .flow-pane .button {
    -fx-font-weight: bold;
}

.welcome-view .flow-pane .transparent-button .ikonli-font-icon {
    -fx-icon-size: 35px;
    -fx-icon-color: -white;
}

.welcome-view .flow-pane .fill-button {
    -fx-graphic-text-gap: 15px;
}

.welcome-view .flow-pane .download-region {
    -fx-shape: "M8.79164 25V22.2222H2.19442C1.63886 22.2222 1.15275 22.0139 0.736084 21.5972C0.319417 21.1806 0.111084 20.6944 0.111084 20.1389V2.08333C0.111084 1.52778 0.319417 1.04167 0.736084 0.625C1.15275 0.208333 1.63886 0 2.19442 0H14.6944V2.08333H2.19442V20.1389H25.8055V15.2778H27.8889V20.1389C27.8889 20.6944 27.6805 21.1806 27.2639 21.5972C26.8472 22.0139 26.3611 22.2222 25.8055 22.2222H19.2083V25H8.79164ZM20.9444 14.7917L14.4861 8.33333L15.9444 6.875L19.9027 10.8333V0H21.9861V10.8333L25.9444 6.875L27.4027 8.33333L20.9444 14.7917Z";
    -fx-pref-width: 28px;
    -fx-pref-height: 25px;
    -fx-background-color: -grey-100;
}

.welcome-view .flow-pane .openjfx-region {
    -fx-shape: "M1.76 18L0.5 16.74L15.44 1.8H6.62V0H18.5V11.88H16.7V3.06L1.76 18Z";
    -fx-pref-width: 18px;
    -fx-pref-height: 18px;
    -fx-background-color: -grey-100;
}

.welcome-view .flow-pane .transparent-button {
    -fx-border-color: #FFFFFF33;
    -fx-border-radius: 10px;
    -fx-border-insets: 0px;
    -fx-text-fill: -white;
    -fx-content-display: top;
    -fx-background-color: transparent;
}

.welcome-view .flow-pane .fill-button {
    -fx-text-fill: -grey-100;
    -fx-border-width: 0;
    -fx-border-insets: 0;
    -fx-background-radius: 10px;
    -fx-background-insets: 0;
    -fx-content-display: right;
}

.welcome-view .flow-pane .fill-button .ikonli-font-icon {
    -fx-icon-color: -grey-100;
}

.welcome-view .flow-pane .install-button {
    -bg: -light-blue;
    -fx-background-color: -bg;
}

.welcome-view .flow-pane .openjfx-button {
    -bg: -green;
    -fx-background-color: -bg;
}

.welcome-view .flow-pane .fill-button:hover {
    -fx-background-color: derive(-bg, 15%);
}

.welcome-view .flow-pane .fill-button:pressed {
    -fx-background-color: derive(-bg, -15%);
}

.welcome-view:lg {
    -fx-pref-width: 1440px;
    -fx-pref-height: 800px;
    -fx-max-width: 1440px;
    -fx-max-height: 800px;
    -fx-padding: 195px 180px 200px 180px;
}

.welcome-view:lg .content {
    -fx-spacing: 140px;
    -fx-alignment: center;
}

.welcome-view:lg .label-box {
    -fx-pref-width: 632px;
    -fx-pref-height: 300px;
    -fx-max-width: 632px;
    -fx-max-height: 300px;
    -fx-spacing: 5px;
}

.welcome-view:lg .fx-logo {
    -fx-fit-height: 58px;
    -fx-fit-width: 170px
}

.welcome-view:lg .label-box .home-label,
.welcome-view:lg .label-box .related-label {
    -fx-font-size: 54px;
}

.welcome-view:lg .label-box .related-label {
    -fx-padding: 0 0 20px 0;
}

.welcome-view:lg .label-box .description-label {
    -fx-font-size: 24px;
}

.welcome-view:lg .flow-pane {
    -fx-pref-width: 303px;
    -fx-pref-height: 225px;
    -fx-maax-width: 303px;
    -fx-max-height: 225px;
    -fx-hgap: 10px;
    -fx-vgap: 15px;
}

.welcome-view:lg .flow-pane .transparent-button {
    -fx-pref-width: 146px;
    -fx-pref-height: 75px;
    -fx-max-width: 146px;
    -fx-max-height: 75px;
}

.welcome-view .flow-pane .transparent-button:hover {
    -fx-border-color: -white;
}

.welcome-view .flow-pane .transparent-button:pressed {
    -fx-border-color: -grey-30;
}

.welcome-view:lg .flow-pane .fill-button {
    -fx-pref-width: 303px;
    -fx-pref-height: 60px;
    -fx-max-width: 303px;
    -fx-max-height: 60px;
}

.welcome-view:md {
    -fx-pref-width: 768px;
    -fx-pref-height: 1024px;
    -fx-max-width: 768px;
    -fx-max-height: 1024px;
}

.welcome-view:md .content {
    -fx-spacing: 80px;
    -fx-alignment: center;
    -fx-max-width: 632px;
}

.welcome-view:md .label-box {
    -fx-alignment: center;
}

.welcome-view:md .fx-logo {
    -fx-fit-height: 47px;
    -fx-fit-width: 138px
}

.welcome-view:md .home-label,
.welcome-view:md .related-label {
    -fx-font-size: 44px;
}

.welcome-view:md .related-label {
    -fx-padding: 0 0 20px 0;
}

.welcome-view:md .description-label {
    -fx-font-size: 20px;
    -fx-text-alignment: center;
}

.welcome-view:md .flow-pane {
    -fx-pref-width: 632px;
    -fx-pref-height: 300px;
    -fx-max-width: 632px;
    -fx-max-height: 300px;
    -fx-hgap: 20px;
    -fx-vgap: 15px;
    -fx-alignment: top-center;
}

.welcome-view:md .flow-pane .button {
    -fx-pref-width: 300px;
    -fx-pref-height: 50px;
    -fx-max-width: 300px;
    -fx-max-height: 50px;
}

.welcome-view:md .flow-pane .transparent-button {
    -fx-content-display: left;
}

.welcome-view:sm {
    -fx-pref-width: 375px;
    -fx-pref-height: 812px;
    -fx-max-width: 375px;
    -fx-max-height: 812px;
}

.welcome-view:sm .content {
    -fx-pref-width: 317px;
    -fx-max-width: 317px;
    -fx-alignment: center;
}

.welcome-view:sm .fx-logo {
    -fx-fit-height: 36px;
    -fx-fit-width: 106px
}

.welcome-view:sm .content {
    -fx-spacing: 40px;
    -fx-alignment: center;
}

.welcome-view:sm .label-box {
    -fx-alignment: center;
}

.welcome-view:sm .home-label,
.welcome-view:sm .related-label {
    -fx-font-size: 34px;
}

.welcome-view:sm .related-label {
    -fx-padding: 0 0 20px 0;
}

.welcome-view:sm .description-label {
    -fx-text-alignment: center;
    -fx-font-size: 20px;
}

.welcome-view:sm .flow-pane {
    -fx-hgap: 15px;
    -fx-vgap: 10px;
    -fx-alignment: center;
}

.welcome-view:sm .transparent-button {
    -fx-pref-width: 145px;
    -fx-pref-height: 75px;
}

.welcome-view:sm .fill-button {
    -fx-pref-width: 315px;
    -fx-pref-height: 50px;
}

/** -------------------------------
* CopyrightView
*/
.copyright-view {
    -fx-font-size: 13px;
    -fx-background-color: #2e2e2e;
}

.copyright-view .content,
.copyright-view .powered-by-box {
    -fx-alignment: center;
}

.copyright-view .powered-by-box {
    -fx-spacing: 2px;
}

.copyright-view .label {
    -fx-text-fill: -grey-60;
}

.copyright-view .curly-braces {
    -fx-background-color: -blue;
    -fx-pref-width: 5.5px;
    -fx-pref-height: 14.2px;
    -fx-max-width: 5.5px;
    -fx-max-height: 14.2px;
}

.copyright-view:lg {
    -fx-pref-width: 1440px;
    -fx-pref-height: 42px;
    -fx-max-width: 1440px;
    -fx-max-height: 42px;
    -fx-padding: 10px 68px 10px 68px;
}

.copyright-view:md {
    -fx-pref-width: 769px;
    -fx-pref-height: 42px;
    -fx-max-width: 769px;
    -fx-max-height: 42px;
    -fx-padding: 10px 30px 10px 30px;
}

.copyright-view:sm {
    -fx-pref-width: 375px;
    -fx-pref-height: 69px;
    -fx-max-width: 375px;
    -fx-max-height: 69px;
    -fx-padding: 10px 30px 10px 30px;
}

.copyright-view:sm .content {
    -fx-spacing: 10px;
}
