.top-menu-bar.dark {
    -fx-background-color: -grey-100;
    -fx-foreground-color: -white;
}

.top-menu-bar.light {
    -fx-background-color: -white;
    -fx-foreground-color: -grey-100;
}

.top-menu-bar.transparent {
    -fx-background-color: transparent;
    -fx-foreground-color: -grey-100;
}

.top-menu-bar.bg-image {
    -fx-background-image: url('images/welcome.jpg');
    -fx-foreground-color: -white;
}