.top-menu-bar {
    -fx-background-image: url('images/welcome.jpg');
}

.hello-save-and-like-button .save-and-like-button {
    -fx-background-color: -white;
    -fx-border-color: -grey-20;
    -fx-padding: 8px 20px;
    -fx-spacing: 3px;
}

.top-menu-bar:md {
    -fx-background-image: url('images/welcome-md.jpg');
}

.top-menu-bar:sm {
    -fx-background-image: url('images/welcome-sm.jpg');
}

.top-menu-bar:light {
    -fx-background-color: #F2F2F2;
    -fx-foreground-color: -grey-100;
    -fx-background-image: null;
}

.hello-social-links-view .menu-button:expanded .arrow {
    -fx-rotate: 180;
}

.hello-social-links-view .menu-button  > .arrow-button > .arrow {
    -fx-shape: "M6.03015 6L0 0H12.0603L6.03015 6Z";
    -fx-background-color: #0e4ae4;
}

.hello-social-links-view .menu-button:showing  > .arrow-button > .arrow {
    -fx-rotate: 180;
}

.hello-social-links-view .custom-menu-item ,
.hello-social-links-view .custom-menu-item:hover,
.hello-social-links-view .custom-menu-item:pressed,
.hello-social-links-view .custom-menu-item:focused {
    -fx-padding: 0;
    -fx-background-color: transparent ;
}

.hello-social-links-view .menu-button .context-menu {
    -fx-border-color: transparent;
    -fx-background-color: transparent ;
    -fx-background-radius: 10px;
    -fx-padding: 0px;
}

.menu-button.dropdowns-style2 .context-menu {
    -normal-text-icon-color: -grey-100;
    -hover-text-icon-color: -grey-20;
}

.hello-styling-dropdowns > .label {
    -fx-border-color: -grey-100;
    -fx-padding: 5px 10px;
    -fx-font-size: 20px;
}

.website-changes-view {
    -fx-border-color: pink;
}

.hello-flip-view .front-node > .button {
    -fx-background-color: -grey-100;
    -fx-text-fill: -grey-20;
}

.hello-flip-view .front-node > .button:hover {
    -fx-background-color: -grey-100;
    -fx-text-fill: -white;
}

.hello-flip-view .back-node > .button {
    -fx-background-color: -grey-20;
    -fx-text-fill: -grey-100;
}

.hello-flip-view .back-node > .button:hover {
    -fx-background-color: -grey-20;
    -fx-text-fill: -white;
}