/** -------------------------------
* Roboto Condensed Font
* (https://fonts.google.com/specimen/Roboto+Condensed)
*/
@font-face {
    font-family: "Roboto Condensed";
    src: url('../fonts/RobotoCondensed-Regular.ttf');
}

@font-face {
    font-family: "Roboto Condensed";
    src: url('../fonts/RobotoCondensed-Italic.ttf');
}

@font-face {
    font-family: "Roboto Condensed";
    src: url('../fonts/RobotoCondensed-Bold.ttf');
}

@font-face {
    font-family: "Roboto Condensed";
    src: url('../fonts/RobotoCondensed-BoldItalic.ttf');
}

@font-face {
    font-family: "Roboto Condensed Light";
    src: url('../fonts/RobotoCondensed-Light.ttf');
}

@font-face {
    font-family: "Roboto Condensed Light";
    src: url('../fonts/RobotoCondensed-LightItalic.ttf');
}

/** -------------------------------
* Spline Sans Font
* (https://fonts.google.com/specimen/Spline+Sans)
*/
@font-face {
    font-family: "Spline Sans";
    src: url('../fonts/SplineSans-Regular.ttf');
}

@font-face {
    font-family: "Spline Sans";
    src: url('../fonts/SplineSans-Bold.ttf');
}

@font-face {
    font-family: "Spline Sans Light";
    src: url('../fonts/SplineSans-Light.ttf');
}

@font-face {
    font-family: "Spline Sans SemiBold";
    src: url('../fonts/SplineSans-SemiBold.ttf');
}

* {
    -grey-10: #e2e2e2;
    -grey-20: #c9cccd;
    -grey-30: #b0b3b4;
    -grey-40: #a0a4a6;
    -grey-50: #8f9497;
    -grey-60: #757676;
    -grey-80: #4a4a4a;
    -grey-100: #232323;

    -red: #ff7b72;
    -blue: #58a6ff;
    -green: #08e093;
    -purple: #d2a8ff;
    -orange: #f9990f;

    -bright-blue: #0e4ae4;
    -fx-font-family: "Spline Sans";
    -fx-font-size: 16px;
}

/** -------------------------------
* Hyperlink
*/
.hyperlink,
.hyperlink:hover,
.hyperlink:visited,
.hyperlink:focused,
.hyperlink:pressed,
.hyperlink:focused:hover,
.hyperlink:visited:hover,
.hyperlink:visited:focused {
    -fx-padding: 0;
    -fx-border-color: transparent;
    -fx-underline: false;
}

.hyperlink,
.hyperlink:visited {
    -fx-text-fill: -grey-60;
}

.hyperlink:hover,
.hyperlink:focused:hover,
.hyperlink:visited:hover {
    -fx-text-fill: -grey-40;
}

.hyperlink:pressed,
.hyperlink:focused:pressed {
    -fx-text-fill: derive(-grey-60, 15%);
}

.link {
    -fx-cursor: hand;
}

/** -------------------------------
* Sponsors
*/
.sponsors-view {
    -fx-background-color: -grey-10;
    -fx-logo-fit-height: 35px;
}

.sponsors-view:lg {
    -fx-padding: 35px 60px 35px 60px;
}

.sponsors-view:md {
    -fx-padding: 30px 40px 30px 40px;
}

.sponsors-view:sm {
    -fx-padding: 20px 5px 20px 5px;
}

.sponsors-view .title {
    -fx-font-family: "Roboto Condensed";
    -fx-font-weight: bold;
    -fx-fill: -grey-100;
}

.sponsors-view:lg .title {
    -fx-font-size: 16px;
}

.sponsors-view:sm-md .title {
    -fx-font-size: 20px;
}

.sponsors-view .grid-pane {
    -fx-hgap: 40px;
    -fx-vgap: 30px;
}

.sponsors-view:sm-md .grid-pane {
    -fx-hgap: 20px;
    -fx-vgap: 20px;
}

.sponsors-view .divider {
    -fx-background-color: -grey-20;
    -fx-background-radius: 1000px;
}

.sponsors-view .logo:hover {
    -fx-cursor: hand;
}

/** -------------------------------
* LineNumberPane
*/
.line-number-pane {
    -fx-hgap: 10px;
}

.line-number-pane .label {
    -fx-text-fill: -grey-60;
}

.line-number-pane .number-label {
    -fx-text-fill: -grey-60;
    -fx-padding: 2px 10px 2px 10px;
    -fx-border-width: 0 1px 0 0;
    -fx-border-color: -grey-60;
}

.line-number-pane .content-line-0 {
    -fx-text-fill: -red;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
}

.line-number-pane .purple-label {
    -fx-text-fill: -purple;
}

/** -------------------------------
* Footer
*/
.footer {
    -fx-background-color: -grey-100;
}
.footer .duke-image {
    -fx-image: url('../images/duke.png');
}

.footer:lg {
    -fx-spacing: 170px;
    -fx-padding: 60px 45px 60px 45px;
}

.footer:md {
    -fx-spacing: 25px;
    -fx-padding: 40px 30px 40px 30px;
}

.footer:sm {
    -fx-spacing: 20px;
    -fx-padding: 30px 30px 30px 15px;
}

.footer:sm .number-pane-box {
    -fx-spacing: 40px;
}

.footer .links-pane .twitter-link {
    tf: -blue;
    -fx-text-fill: tf;
}

.footer .links-pane .linkedin-link {
    tf: -orange;
    -fx-text-fill: tf;
}

.footer .links-pane .github-link {
    tf: -green;
    -fx-text-fill: tf;
}

.footer .links-pane .youtube-link {
    tf: -purple;
    -fx-text-fill: tf;
}

.footer .links-pane .link {
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-cursor: hand;
}

.footer .links-pane .link:hover {
    -fx-text-fill: derive(tf, 15%);
}

.footer .links-pane .link:pressed {
    -fx-text-fill: derive(tf, -15%);
}
