.markdown-view {
    -mdfx-font-color: black;
    -mdfx-link-color: -bright-blue;
    -mdfx-border-color-1: -fx-box-border;

    -mdfx-bg-color-1: -fx-control-inner-background;
    -mdfx-bg-color-2: -fx-control-inner-background-alt;
    -mdfx-bg-color-3: -fx-color;

    -mdfx-bq-color-border: derive(-red, -50%);
    -mdfx-bq-color-background: -red;
    -mdfx-bq-text-fill: black;

    -mdfx-code-block-border: -fx-box-border;
    -mdfx-code-block-background: -fx-control-inner-background;
}

.markdown-code-block {
    -mdfx-code-theme: "/one/jpro/platform/mdfx/themes/github-dark-default.json";
}

.clickable-image {
    -fx-cursor: hand;
}

.markdown-text {
    -fx-font-size: 1em;
    -fx-font-family: "Spline Sans";
    -fx-fill: -mdfx-font-color;
}

.markdown-italic {
    -fx-font-family: "Spline Sans Italic";
}

.markdown-bold {
    -fx-font-family: "Spline Sans SemiBold";
}

.markdown-italic.markdown-bold {
    -fx-font-family: "Spline Sans SemiBold";
}

.markdown-strikethrough {
    -fx-strikethrough: true;
}

.markdown-normal-flow {
    -fx-line-spacing: 5;
}

.markdown-heading .markdown-text {
    /*-fx-line-spacing: 100;*/
    -fx-fill: -mdfx-font-color;
}

.markdown-heading-1 {
    -fx-padding: 14px 0px;
}

.markdown-heading-2 {
    -fx-padding: 10px 0px;
}

.markdown-heading-3 {
    -fx-padding: 8px 0px;
}

.markdown-heading-4 {
    -fx-padding: 6px 0px;
}

.markdown-heading-5 {
    -fx-padding: 4px 0px;
}

.markdown-heading-1 .markdown-text {
    -fx-font-size: 1.714em;
    -fx-font-family: "Spline Sans SemiBold";
}

.markdown-heading-2 .markdown-text {
    -fx-font-size: 1.2857em;
    -fx-font-family: "Spline Sans SemiBold";
}

.markdown-heading-3 .markdown-text {
    -fx-font-size: 1em;
    -fx-font-family: "Spline Sans SemiBold";
}

.markdown-heading-4 .markdown-text {
    -fx-font-size: 1em;
    -fx-font-family: "Spline Sans SemiBold";
}

.markdown-heading-5 .markdown-text {
    -fx-font-size: 1em;
    -fx-font-family: "Spline Sans SemiBold";
}

.markdown-link {
    -fx-fill: -mdfx-link-color;
    -fx-cursor: hand;
}

.markdown-link-hover {
    -fx-underline: true;
}

.markdown-paragraph-list {
    -fx-spacing: 10px;
}

.markdown-listitem-dot {
    -fx-font-size: 16px;
    -fx-text-fill: -mdfx-font-color;
}

.markdown-codeblock-box,
.markdown-code {
    -fx-padding: 0px 8px;
}

.markdown-code {
    /*-fx-max-width: 300*/
}

.markdown-code,
.markdown-codeblock {
    -fx-wrap-text: true;
    -fx-font-size: 0.8571em;
}

.markdown-codeblock-box {
    -fx-padding: 8;
    -fx-border-radius: 0.1428em;
    -fx-border-color: -mdfx-border-color-1;
    -fx-border-width: 0.0357em;
    -fx-background-radius: 0.1428em;
    -fx-background-color: -light-blue;
    -fx-font-family: "JetBrains Mono Regular";
}

.markdown-code-background {
    -fx-padding: 8;
    -fx-border-radius: 0.1428em;
    -fx-border-color: -mdfx-border-color-1;
    -fx-border-width: 0.0357em;
    -fx-background-radius: 0.1428em;
    -fx-background-color: -light-blue;
}

.markdown-code-anti-padding {
    /*-fx-padding: -8;*/
    -fx-border-color: red;
    -fx-border-width: 1px;
}

.markdown-table-table {
    -fx-vgap: -1px;
    -fx-hgap: -1px;
}

.markdown-table-cell {
    -fx-padding: 8px;
    -fx-border-color: -mdfx-border-color-1;
    -fx-border-width: 0px;
}

.markdown-table-even {
    -fx-background-color: white;
}

.markdown-table-odd {
    -fx-background-color: -light-blue;
}

.markdown-table-cell-top {
    -fx-background-color: -bright-blue;
}

.markdown-table-cell-top .markdown-text {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-font-family: "Roboto Condensed";
    -fx-fill: -white;
}


.markdown-table-cell-top .markdown-normal-flow {
    -fx-alignment: center;
    -fx-text-alignment: center;
}

.markdown-hbox1 {
    -fx-spacing: 0px;
    -fx-padding: 2px;
}

/* ---------- BLOCK QUOTE ---------- */

.markdown-normal-block-quote {
    -fx-background: -mdfx-bq-color-background;
    -fx-background-color: -fx-background;
    -fx-border-color: -mdfx-bq-color-border;
    -fx-border-width: 0px 0px 0px 3px;
    -fx-padding: 10px;
}

.markdown-normal-block-quote .markdown-normal-flow .markdown-text {
    -fx-fill: -mdfx-bq-text-fill;
}

/* ---------- CODE BLOCK ---------- */

.markdown-code-block {
    -fx-font-family: "JetBrains Mono Regular";
    -fx-font-size: .8em;
    -fx-padding: 0px;
}

.markdown-code-block .code-text-flow {
    -fx-padding: 12px;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-border-color: -mdfx-code-block-border;
    -fx-border-width: 0px;
    -fx-background-color: -mdfx-code-block-background;
    -fx-line-spacing: 2px;
}