.root {

}

.custom-stage {
    -fx-background-color: #070B32;
    -fx-padding: 2 4 4 4;
}

.custom-stage:stage-focused {
    -fx-background-color: gray, #070B32;
    -fx-background-insets: 0, 1;
}

.custom-stage:web {
    -fx-padding: 0 0 0 0;
    -fx-background-insets: 0;
}

.custom-stage:web:stage-focused {
    -fx-padding: 0 0 0 0;
    -fx-background-insets: 0;
}

.custom-stage .title-bar {
    -fx-background-color: #070B32;
}

.custom-stage .title-bar > .front-box {
    -fx-padding: 5 10 5 10;
    -fx-spacing: 10;
}

.custom-stage:stage-focused .title-bar {
    -fx-background-color: #070B32;
}

.custom-stage .title-bar > .title {
    -fx-font-family: "Roboto Condensed";
    -fx-font-size: 20px;
    -fx-text-fill: -white;
    -fx-padding: 5;
}

.custom-stage .title-bar .button,
.custom-stage .title-bar .toggle-button {
    -fx-background-color: transparent;
    -fx-padding: 2;
}

.custom-stage .title-bar .button .ikonli-font-icon,
.custom-stage .title-bar .toggle-button .ikonli-font-icon {
    -fx-icon-color: -white;
    -fx-icon-size: 20px;
}

.custom-stage .title-bar .button:hover .ikonli-font-icon,
.custom-stage .title-bar .toggle-button:hover .ikonli-font-icon {
    -fx-icon-color: -orange;
}

.custom-stage .title-bar .button:pressed .ikonli-font-icon,
.custom-stage .title-bar .toggle-button:pressed .ikonli-font-icon {
    -fx-icon-color: -red;
}

.custom-stage .stage-content > .scroll-pane > .scroll-bar .track {
    -fx-background-color: #070B32;
}

.custom-stage .stage-content > .scroll-pane > .scroll-bar .thumb {
    -fx-background-color: rgba(255, 255, 255, .5);
    -fx-background-insets: 0 0 0 4;
    -fx-background-radius: 1000px;
    /*-fx-border-width: 0;*/
    /*-fx-border-insets: 0;*/
}
