.root {
    -dark-blue: #070B32;
}

.custom-stage {
    -fx-background-color: -dark-blue;
    -fx-padding: 2 4 4 4;
}

.custom-stage.native {
    -fx-padding: 0;
}

.custom-stage:web {
    -fx-padding: 0 0 0 0;
    -fx-background-insets: 0;
}

/* Desktop header bar (EXTENDED stage style) */
.app-header-bar {
    -fx-background-color: -dark-blue;
}

.app-header-bar .header-bar-title {
    -fx-font-family: "Roboto Condensed";
    -fx-font-size: 20px;
    -fx-text-fill: -white;
    -fx-padding: 5;
}

.app-header-bar .navigation-view {
    -fx-spacing: 5;
    -fx-padding: 5 10 5 10;
    -fx-alignment: center-left;
}

.app-header-bar .navigation-view .button {
    -fx-background-color: transparent;
    -fx-padding: 2;
}

.app-header-bar .navigation-view .button .ikonli-font-icon {
    -fx-icon-color: -white;
    -fx-icon-size: 20px;
}

.app-header-bar .navigation-view .button:hover .ikonli-font-icon {
    -fx-icon-color: -orange;
}

.app-header-bar .navigation-view .button:pressed .ikonli-font-icon {
    -fx-icon-color: -red;
}

.custom-stage .stage-content > .scroll-pane > .scroll-bar .track {
    -fx-background-color: #070B32;
}

.custom-stage .stage-content > .scroll-pane > .scroll-bar .thumb {
    -fx-background-color: rgba(255, 255, 255, .5);
    -fx-background-insets: 0 0 0 4;
    -fx-background-radius: 1000px;
}
